<%- include('../header.ejs')%>
    <div class="container mt-5">
        <h1 class="text-center pt-5">course Display</h1>
        <% if(msg.length> 0) { %>
            <div class="alert alert-success">
                <%=msg%>
            </div>
            <% } %>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>status</th>
                        <th>Action</th>


                    </tr>

                    <% d.forEach((item)=>{%>
                        <tr>
                            <td>
                                <%=item._id%>
                            </td>
                            <td>
                                <%=item.name%>
                            </td>
                            <td>
                                <%=item.email%>
                            </td>
                            <td>
                                <%=item.phone%>
                            </td>
                            <td class="table-info">
                                <%=item.status%>
                            </td>
                            <td>
                                <a href="/course_view/<%=item._id%>" class="btn btn-info"><i
                                        class="fa-solid fa-eye"></i></a>
                                <a href="/course_edit/<%=item._id%>" class="btn btn-success"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/course_delete/<%=item._id%>" class="btn btn-danger"><i
                                        class="fa-solid fa-trash"></i></a>
                            </td>

                        </tr>
                        <%})%>
                </table>
                <a href="/dashboard"><button class="btn btn-success">Back To Home</button></a>
    </div>
    <%- include('../footer.ejs')%>